body {
    font-family: Verdana, Helvetica, sans-serif;
}

.default {
    width: 100%;
}

.inline {
    display: inline;
}

.inline-short {
    display: inline;
    width: 2em;
}

.field-group {
}

.field-description {
}

.user-input {
    margin-bottom: 10px;
}

/* suppress <p> created by markdown */
.field-description > p {
    display: inline;
    margin: 0;
}

.field-group.default > input.user-input {
    width: 100%;
}

textarea {
    height: 4em;
    width: 100%;
}
